#outer{
		width:100%;
		background: url(../images/mibg.jpg) center center no-repeat;
	}
.box{
		width:100%;
		height:600px;
		background: rgba(0,0,0,0.6);
	}
/*内部子集以silde定位*/
.slide{
		width:1200px;
		height: 500px;
		margin:5px auto;
		position: relative;
		cursor: pointer;
	}
.slide ul{
		height: 500px;
	}
#outer .box h2{
		text-align: center;
		margin-top:30px;
		color: #40D2B1;
		text-shadow:5px 1px 6px gold;
}
/*定图片*/
/*jons*/
.slide ul li{
		position: absolute;
	}
.slide ul li img{
		width:100%;
		height: auto;
	}
.prev,.next{
		width:120px;
		height:95px;
		position:absolute;
		top:50%;
		margin-top:0px;
		/*margin-left: 50px;*/
		background: url(../images/prev.png) no-repeat;
		z-index: 999;
	}
.next{
		right:0px;
		background: url(../images/next.png) no-repeat;
	}